<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script>
    function openCourses() {
        window.open("courses.html","_self");
    }
    function openRooms() {
        window.open("rooms.html","_self");
    }
    function openSchedual() {
        window.open("scheduling.html","_self");
    }
</script>
<button id="btngotocourses" onclick="openCourses()">Go to Courses</button> <br>
<button id="btngotorooms" onclick="openRooms()">Go to Rooms</button> <br>
<button id="btngotosch" onclick="openSchedual()">Go to Scheduling</button> <br>
<button id="btngotonvl">Go to Novel</button> <br>
</body>
</html>